body 	{
	
	background-color: beige; margin: 0px;
}

form	{
	font-family: 'Monoton', cursive;
	text-align: right;
	color: black; 
	display: inline-block;
	}

.h2 {
	font-family: 'Baloo Tammudu', cursive;


}
.header {

	
	background-color: #4a0000; 
	color: #f5f5dc;
	height: 150px;
	width: 100%; 
	font-size: 28px; 
	text-align: center; 
	padding: 0px; 
	margin: 0px;
	}

.bokabild {

	float: right;
	margin-right: 45px;
	width: 50%;
	height: 50vh;

}





.content {
	font-family: 'Monoton', cursive;
	background-color: beige;
	 
	 
	width: 100%;
	}
	



.footer { 
	font-family: 'Permanent Marker', cursive;
	background-color: #06064D; 
	color: #f5f5dc;
	height: 15 vh; 
	width: 100%; 
	clear: both; 
	text-align: center;
	position: fixed;
    bottom: 0;
	}

.column {
	float: left;
	width: 30%;
	padding: 100px;
}

.row: :after {
	content: "";
	clear: both;
	display: table;
}

ul {
	font-family: 'Permanent Marker', cursive;
	list-style-type: none; 
	background-color: maroon; 
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;
	}
li {
	font-family: 'Oswald', sans-serif;
	float: left; 
	padding: 0; 
	margin: 0px
	}

li a {
	
	-webkit-transition-duration: 1s;
	display inline-block; 
	color: beige; 
	text-align: center; 
	text-decoration: none; 
	padding 40px 16px; 
	margin: 0px;
	}

li a:hover {
	background-color: #4a0000;
	}

.menu-item {
	padding: 20px;
}

.imagecontainer {
	height: 40%; 
	width: 100%;
	}
.button:hover {background-color: #06064D;}


.button {
	display:block;
	-webkit-transition-duration: 0.9s;
	background-color: #4a0000;
	font-size: 20px;
	color: beige;
	cursor: pointer;
	padding: 50px 90px;
	text-align-last: center;
	border: none;
	border-radius: 100%;
}


#karta {

	
	width: 100%; 
	height: 50%;
	}

