body 	{
	
	background-color: beige; 
	margin: 0px;
	padding-bottom: 60px;
}

form	{
	width:50%;
	color: black; 
	}

form label{
	display: block;
	font-weight: 600;
}

form input{
	width:100%;
	padding:10px 10px;
	display: block;
}
form button{
	display:block;
	-webkit-transition-duration: 0.9s;
	background-color: #4a0000;
	font-size: 20px;
	color: beige;
	cursor: pointer;
	padding: 12px 29px;
	text-align-last: center;
	border: none;
	border-radius: 100%;
	width: 100%;
}

form button:hover {
	background-color: #06064D;
	
}

h2 {
	padding: 10px 0;
	margin: 0px;
	font-family: 'Baloo Tammudu', cursive;


}

.top-img{
	width:100%;
	height:380px;
}

.header {

	
	background-color: #4a0000; 
	color: #f5f5dc;
	
	width: 100%; 
	font-size: 28px; 
	text-align: center; 
	padding: 0px; 
	margin: 0px;
	}

.bokabild {

	z-index: -1;
	width: 50%;
	position: fixed;
	top: 160px;
	right: 40px;

}





.content {
	font-family: 'Monoton', cursive;
	
	 
	 
	
	}
	



.footer { 
	font-family: 'Permanent Marker', cursive;
	background-color: #06064D; 
	color: #f5f5dc;
	height: 60px; 
	width: 100%; 
	clear: both; 
	text-align: center;
	position: fixed;
    bottom: 0;
	}

.column {
	float: left;
	width: 30%;
	padding: 100px;
}

.row :after {
	
	clear: both;
	display: table;
}

ul {
	font-family: 'Permanent Marker', cursive;
	list-style-type: none; 
	background-color: maroon; 
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;
	}
li {
	font-family: 'Oswald', sans-serif;
	float: left; 
	padding: 0; 
	margin: 0px
	}

li a {
	
	-webkit-transition-duration: 1s;
	display: block; 
	color: beige; 
	text-align: center; 
	text-decoration: none; 
	padding: 20px 16px; 
	margin: 0px;
	}

li a:hover {
	background-color: #4a0000;
	}

.menu-item {
	padding: 20px;
}

.imagecontainer {
	height: 40%; 
	width: 100%;
	}

.container {

margin: 10px 20px;

}
.text-center {
	text-align: center;
}
#karta {

	
	width: 100%; 
	height: 300px;
	}

@media(max-width:991px){

}